@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Lexend+Deca:wght@100..900&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-family: "Lexend Deca";
    font-weight: bold;
    margin-right: 45px;
    margin-bottom: 30px;
    
    
}

nav{
    margin-left: 490px;
    display: flex;
 
}

header h1{
    float: right;
    width: 760px;
    height: 120px;
    background-color: #225473;
    font-family: "Atma";
    color: white;
    text-align: center;
    background-position: center center;
    font-size: 75px;
    border-radius: 20px;
    position: relative;
    right: 580px;   
    
}
header a{
    margin-left: 200px;
    margin-right: 0;
    margin-top: 15px;
}

header{
    margin-bottom: 15px;
}

.slogan p{
    font-family: "Lexend Deca";
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
    top: 30px;
}

.slogan{
    background-color: #225473;
    width: 100%;
    height: 150px;
}

.para1 h2{
    font-family: "Lexend Deca";
    font-size: 30px;
    text-align: left;
    color: black;
    float: left;
    font-weight: bold;
    margin-right: 0;
    margin-left: 210px;
    margin-top: 15px;
    margin-bottom: 0;
 }

 .para1 h3{
    font-family: "Lexend Deca";
    font-size: 25px;
    text-align: left;
    color: black;
    float: left;
    font-weight: bold;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 0;
    position: relative;
    top: 50px;
    right: 455px;
 }

 .para1 p{
    font-family: "Lexend Deca";
    font-size: 20px;
    text-align: left;
    color: black;
    float: left;
    font-weight: bold;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 0;
    position: relative;
    top: 50px;
    right: 520px;
 }

 .para1{
    height: 300px;
 }
.para1 img{
    margin-left: 1100px;
    margin-top: 30px;
    position: relative;
    bottom: 200px;
 }

 .para2 h2{
    font-family: "Lexend Deca";
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-left: 210px;
 }

 .para2 p{
    font-family: "Lexend Deca";
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 215px;
 }
 

 .para2 img{
    position: relative;
    bottom: 300px;
    margin-left: 210px;
 }

.para2{
    height: 400px;
}

 footer{
    background-color: #225473;
    height: 200px;
 }
 
footer p{
    font-family: "Lexend Deca";
    font-size: 22.5px;
    text-align: left;
    color: white;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 30px;

 }

 .slogan2 p{
    font-family: "Lexend Deca";
    font-size: 22.5px;
    text-align: right;
    color: white;
    font-weight: bold;
    margin-right: 150px;
    margin-top: 30px;
    position: relative;
    bottom: 120px;
 }
 
 .slogan2{
    height: 0;
 }
